
/* CSS for qik-confirm */ 

.qconfirm-bg {
	position: fixed; /* prevent dialog from scrolling off even if page does */
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%;  
	z-index: 9999; 
	text-align: center; 
    background:url('https://www.fnl.co.nz/qik/_assets/images/overlay_white_bg.png');
}

.qconfirm-bg .qconfirm-msgbox {
	width:350px;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	margin: 0 auto;
	padding:10px;

    /* vertically centred ' */
	height:auto;
    max-height: 250px; /* with allowance from buttons */
    top: 50%;
    margin-top: -100px;
}

.qconfirm-bg .qconfirm-msgbox .title {
	font-size: 16px;
	color: #003962;
	margin-bottom: 5px;
	
    display: block;
    margin-top: 0.83em;
	margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;	
}

.qconfirm-bg .qconfirm-msgbox .content {
	font-size:12px;
	float:left;
	width:100%;
	line-height:1.25em;
	margin:0;
    /* allow text to expand up to max height */
	height:auto;
    max-height: 125px;
    overflow-y: auto;
}

.qconfirm-bg .qconfirm-msgbox span.btn {
    border-radius: 0px;
	margin: 10px 5px 5px 0px;
	display: inline-block;
}		

